* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #9E9B9B;
  margin: 0;


}

/* nav bar starts here */
header {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
}

#logo {
  margin-left: 20px;
  max-width: 50%;
  padding: 10px;
}

.nav-bar {
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  padding: 20px;
  font-size: 2vw;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: beige;
}

/* nav bar ends here */

.hero-image {
  background-image: url(pics/bus.jpeg);
  height: 13vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/bus.jpeg");

}

.hero-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px; 
  }

h1 {
  margin: 0;
  text-align: center;
}
.items {

  font-size: 20px;
  padding: 10px;
  padding: 20px;
  border: solid;
  color: rgb(0, 0, 0);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom:17vh ;
}

.containeragain{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 2em;
  grid-auto-rows: 430px;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.containeragain2{
  display: grid;
  grid-template-columns: 25% 25%;
  grid-gap: 2em;
  grid-auto-rows: 430px;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  
}

 .containeragain > div{
  background: #9E9B9B;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6); 
  text-align: center;
} 

.containeragain2 > div{
  background: #9E9B9B;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  text-align: center;
}

.ourteam{
  color: red;
  font-size: 50px;
  text-align: center;
}

.A{
  color: red;
}

.P{
  color: red;
}

.I{
  color: red;
}

.L{
  color: red;
}

.H{
  color: red;
}

/* footer starts here */
.footer-container {
  background-color: #fff;
  /* padding-bottom: 4rem; */
}

.footer {
  width: 100%;
  /* height: 40vh; */
  background: #D9D9D9;
  color: #0C0909;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  padding: 20px;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #0E0C0C;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: #000;
  transition: 0.3 ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 10px;
  border-radius: 4px;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #090606;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f34242;
  outline: none;
  border: none;
  font-size: 1rem;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #9E9B9B;
  transition: all 0.4s ease-out;
}