* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
}

#logo {
  margin-left: 20px;
  max-width: 50%;
  padding: 10px;
}

.nav-bar {
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  padding: 20px;
  font-size: 2vw;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: beige;
}


.hero {
  width: 100%;
  z-index: -1;
  /* filter: blur(5px); */
  /* -webkit-filter: blur(3px); */
}

main {
  position: relative;

}

h1 {
  position: absolute;
  top: 20vw;
  left: 20vw;
  color: rgb(203, 202, 202);
  font-weight: lighter;
  font-size: 4vw;
}

#red {
  color: red;
}

#red2 {
  color: red;
  position: relative;
  left: 40vw;
  top: 1vw;
}

.about-us {
  height: 70vh;
  background-color: beige;

}

.caption {
  text-align: center;
  padding: 20px;
  font-size: 3vw;
  color: rgba(143, 143, 143, 0.818);
}

.description {
  padding: 20px;
  text-align: center;
}

.buttons {
  background-color: rgb(255, 157, 0);
  padding: 10px;
  margin: auto;
  border-radius: 30px;
  width: 15vw;
  border: none;
  position: absolute;
  top: 40vw;
  left: 40vw;
  font-size: 2vw;
}

blockquote {
  position: absolute;
  top: 50vw;
  left: 20vw;
  color: rgba(255, 255, 255, 0.626);
  font-size: 1.5vw;
}

/* footer starts here  */

.footer-container {
  background-color: #fff;
  /* padding-bottom: 4rem; */
}

.footer {
  width: 100%;
  /* height: 40vh; */
  background: #D9D9D9;
  color: #0C0909;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  padding: 20px;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #0E0C0C;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: #000;
  transition: 0.3 ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 10px;
  border-radius: 4px;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #090606;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #FEF3F3;
  outline: none;
  border: none;
  font-size: 1rem;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #9E9B9B;
  transition: all 0.4s ease-out;
}